@page
@using Byteology.GoogleApiModule.Web.Pages.Components.GooglePlacesAutocompleteWidget
@using Byteology.GoogleApiModule.Web.Pages.Components.GooglePlacesFindPlaceWidget
@using Microsoft.Extensions.Localization
@using Byteology.GoogleApiModule.Localization
@using Byteology.GoogleApiModule.Web.Pages.GoogleApiModule
@model Byteology.GoogleApiModule.Web.Pages.GoogleApiModule.IndexModel
@inject IStringLocalizer<GoogleApiModuleResource> L

@{
}
<h1>GoogleApiModule</h1>
@*Widget Examples*@
<form method="post" autocomplete="off">
    <label>Lookup Address:</label>
    @await Component.InvokeAsync(typeof(GooglePlacesAutocompleteWidgetViewComponent),new GooglePlacesAutoCompleteWidgetOptions{
        AddressInputName = "autoCompleteAddress",
        PlaceIdInputName = "autoCompletePlaceId"
    })

    <label>Find Place:</label>
    @await Component.InvokeAsync(typeof(GooglePlacesFindPlaceWidgetViewComponent),new GooglePlacesFindPlaceWidgetOptions{
        AddressInputName = "findAddress",
        PlaceIdInputName = "findPlaceId"
    })

    <abp-button button-type="Primary" type="submit">Save</abp-button>
</form>
