@page "/GoogleApiModule"
@using Microsoft.Extensions.Localization
@using global::Byteology.GoogleApiModule.Localization
@inject IStringLocalizer<GoogleApiModuleResource> L
@{
}
<h1>GoogleApiModule</h1>
<p>@L["SamplePageMessage"]</p>