@using Byteology.GoogleApiModule.Web.Pages.Components.GooglePlacesAutocompleteWidget
@model GooglePlacesAutoCompleteWidgetOptions

<div class="google-places-autocomplete-widget m-3">
   <select name="@Model.Name" class="google-places-auto-complete w-100 @Model.CssClass"></select>
</div>


